src/Woo.AICopilot.AiGatewayService/bin/Debug/net10.0
src/Woo.AICopilot.AiGatewayService/obj
src/Woo.AICopilot.AppHost/bin
src/Woo.AICopilot.AppHost/obj
src/Woo.AICopilot.Core.AiGateway/obj
src/Woo.AICopilot.Core.AiGateway/bin
src/Woo.AICopilot.Core.DataAnalysis/obj
src/Woo.AICopilot.Core.McpServer/bin
src/Woo.AICopilot.AgentPlugin/bin
src/Woo.AICopilot.AgentPlugin/obj
src/Woo.AICopilot.Core.DataAnalysis/bin
src/Woo.AICopilot.Core.McpServer/obj
src/Woo.AICopilot.Core.Rag/bin
src/Woo.AICopilot.Core.Rag/obj
src/Woo.AICopilot.Dapper/bin
src/Woo.AICopilot.Dapper/obj
src/Woo.AICopilot.DataAnalysisService/bin
src/Woo.AICopilot.DataAnalysisService/obj
src/Woo.AICopilot.Visualization/obj
src/Woo.AICopilot.Visualization/bin
src/Woo.AICopilot.SharedKernel/obj
src/Woo.AICopilot.Services.Common/obj
src/Woo.AICopilot.Services.Common/bin
src/Woo.AICopilot.ServiceDefaults/obj
src/Woo.AICopilot.RagWorker/obj
src/Woo.AICopilot.RagWorker/bin
src/Woo.AICopilot.RagService/obj
src/Woo.AICopilot.RagService/bin
src/Woo.AICopilot.MigrationWorkApp/obj
src/Woo.AICopilot.MigrationWorkApp/bin
src/Woo.AICopilot.McpService/obj
src/Woo.AICopilot.McpService/bin
src/Woo.AICopilot.Infrastructure/bin
src/Woo.AICopilot.Infrastructure/obj
src/Woo.AICopilot.IdentityService/obj
src/Woo.AICopilot.IdentityService/bin
src/Woo.AICopilot.HttpApi/obj
src/Woo.AICopilot.HttpApi/bin
src/Woo.AICopilot.Embedding/bin
src/Woo.AICopilot.Embedding/obj
src/Woo.AICopilot.EntityFrameworkCore/bin
src/Woo.AICopilot.EntityFrameworkCore/obj
src/Woo.AICopilot.EventBus/bin
src/Woo.AICopilot.EventBus/obj
src/Woo.AICopilot.ServiceDefaults/bin
src/Woo.AICopilot.SharedKernel/bin
